[submodule "dnb-hugo-pwa"]
	path = dnb-hugo-pwa
	url = git@github.com:dnb-org/dnb-hugo-pwa.git
[submodule "dnb-hugo-search-algolia"]
	path = dnb-hugo-search-algolia
	url = git@github.com:dnb-org/dnb-hugo-search-algolia.git
[submodule "dnb-hugo-shortcodes"]
	path = dnb-hugo-shortcodes
	url = git@github.com:dnb-org/dnb-hugo-shortcodes.git
[submodule "dnb-hugo-schema"]
	path = dnb-hugo-schema
	url = git@github.com:dnb-org/dnb-hugo-schema.git
[submodule "dnb-hugo-pictures"]
	path = dnb-hugo-pictures
	url = git@github.com:dnb-org/dnb-hugo-pictures.git
[submodule "dnb-hugo-assets-unsplash"]
	path = dnb-hugo-assets-unsplash
	url = git@github.com:dnb-org/dnb-hugo-assets-unsplash.git
[submodule "dnb-hugo-netlification"]
	path = dnb-hugo-netlification
	url = git@github.com:dnb-org/dnb-hugo-netlification.git
[submodule "dnb-hugo-sitemap"]
	path = dnb-hugo-sitemap
	url = git@github.com:dnb-org/dnb-hugo-sitemap.git
[submodule "dnb-hugo-hooks"]
	path = dnb-hugo-hooks
	url = git@github.com:dnb-org/dnb-hugo-hooks.git
[submodule "dnb-hugo-feeds"]
	path = dnb-hugo-feeds
	url = git@github.com:dnb-org/dnb-hugo-feeds.git
[submodule "dnb-hugo-auditor"]
	path = dnb-hugo-auditor
	url = git@github.com:dnb-org/dnb-hugo-auditor.git
[submodule "dnb-hugo-humans"]
	path = dnb-hugo-humans
	url = git@github.com:dnb-org/dnb-hugo-humans.git
[submodule "dnb-hugo-head"]
	path = dnb-hugo-head
	url = git@github.com:dnb-org/dnb-hugo-head.git
[submodule "dnb-hugo-functions"]
	path = dnb-hugo-functions
	url = git@github.com:dnb-org/dnb-hugo-functions.git
[submodule "dnb-hugo-opensearch"]
	path = dnb-hugo-opensearch
	url = git@github.com:dnb-org/dnb-hugo-opensearch.git
[submodule "dnb-hugo-youtube"]
	path = dnb-hugo-youtube
	url = git@github.com:dnb-org/dnb-hugo-shortcode-youtube.git
[submodule "dnb-hugo-social"]
	path = dnb-hugo-social
	url = git@github.com:dnb-org/dnb-hugo-social.git
[submodule "dnb-hugo-asylum"]
	path = dnb-hugo-asylum
	url = git@github.com:dnb-org/dnb-hugo-asylum.git
[submodule "dnb-hugo-templates"]
	path = dnb-hugo-templates
	url = git@github.com:dnb-org/dnb-hugo-templates.git
[submodule "dnb-hugo-publisher"]
	path = dnb-hugo-publisher
	url = git@github.com:dnb-org/dnb-hugo-publisher.git
[submodule "dnb-hugo-dev-server-sample"]
	path = dnb-hugo-dev-server-sample
	url = git@github.com:dnb-org/dnb-hugo-dev-server-sample.git
[submodule "dnb-hugo-debug"]
	path = dnb-hugo-debug
	url = git@github.com:dnb-org/dnb-hugo-debug.git
[submodule "dnb-hugo-robots"]
	path = dnb-hugo-robots
	url = git@github.com:dnb-org/dnb-hugo-robots.git
[submodule "dnb-hugo-errors"]
	path = dnb-hugo-errors
	url = git@github.com:dnb-org/dnb-hugo-errors.git
[submodule "dnb-hugo-security"]
	path = dnb-hugo-security
	url = git@github.com:dnb-org/dnb-hugo-security.git
[submodule "dnb-hugo-giscus"]
	path = dnb-hugo-giscus
	url = git@github.com:dnb-org/dnb-hugo-giscus.git
[submodule "dnb-hugo-internals"]
	path = dnb-hugo-internals
	url = git@github.com:dnb-org/dnb-hugo-internals.git
[submodule "dnb-hugo-renderhooks"]
	path = dnb-hugo-renderhooks
	url = git@github.com:dnb-org/dnb-hugo-renderhooks.git
