[submodule "dnb-hugo-youtube"]
	path = dnb-hugo-youtube
	url = https://github.com/dnb-org/dnb-hugo-youtube
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-assets-unsplash"]
	path = dnb-hugo-assets-unsplash
	url = https://github.com/dnb-org/dnb-hugo-assets-unsplash
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-asylum"]
	path = dnb-hugo-asylum
	url = https://github.com/dnb-org/dnb-hugo-asylum
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-auditor"]
	path = dnb-hugo-auditor
	url = https://github.com/dnb-org/dnb-hugo-auditor
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-debug"]
	path = dnb-hugo-debug
	url = https://github.com/dnb-org/dnb-hugo-debug
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-dev-server-sample"]
	path = dnb-hugo-dev-server-sample
	url = https://github.com/dnb-org/dnb-hugo-dev-server-sample
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-errors"]
	path = dnb-hugo-errors
	url = https://github.com/dnb-org/dnb-hugo-errors
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-feeds"]
	path = dnb-hugo-feeds
	url = https://github.com/dnb-org/dnb-hugo-feeds
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-functions"]
	path = dnb-hugo-functions
	url = https://github.com/dnb-org/dnb-hugo-functions
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-giscus"]
	path = dnb-hugo-giscus
	url = https://github.com/dnb-org/dnb-hugo-giscus
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-head"]
	path = dnb-hugo-head
	url = https://github.com/dnb-org/dnb-hugo-head
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-hooks"]
	path = dnb-hugo-hooks
	url = https://github.com/dnb-org/dnb-hugo-hooks
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-humans"]
	path = dnb-hugo-humans
	url = https://github.com/dnb-org/dnb-hugo-humans
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-icons"]
	path = dnb-hugo-icons
	url = https://github.com/dnb-org/dnb-hugo-icons
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-internals"]
	path = dnb-hugo-internals
	url = https://github.com/dnb-org/dnb-hugo-internals
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-netlification"]
	path = dnb-hugo-netlification
	url = https://github.com/dnb-org/dnb-hugo-netlification
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-opensearch"]
	path = dnb-hugo-opensearch
	url = https://github.com/dnb-org/dnb-hugo-opensearch
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-pictures"]
	path = dnb-hugo-pictures
	url = https://github.com/dnb-org/dnb-hugo-pictures
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-publisher"]
	path = dnb-hugo-publisher
	url = https://github.com/dnb-org/dnb-hugo-publisher
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-pwa"]
	path = dnb-hugo-pwa
	url = https://github.com/dnb-org/dnb-hugo-pwa
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-renderhooks"]
	path = dnb-hugo-renderhooks
	url = https://github.com/dnb-org/dnb-hugo-renderhooks
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-robots"]
	path = dnb-hugo-robots
	url = https://github.com/dnb-org/dnb-hugo-robots
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-schema"]
	path = dnb-hugo-schema
	url = https://github.com/dnb-org/dnb-hugo-schema
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-search-algolia"]
	path = dnb-hugo-search-algolia
	url = https://github.com/dnb-org/dnb-hugo-search-algolia
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-security"]
	path = dnb-hugo-security
	url = https://github.com/dnb-org/dnb-hugo-security
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-shortcodes"]
	path = dnb-hugo-shortcodes
	url = https://github.com/dnb-org/dnb-hugo-shortcodes
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-sitemap"]
	path = dnb-hugo-sitemap
	url = https://github.com/dnb-org/dnb-hugo-sitemap
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-social"]
	path = dnb-hugo-social
	url = https://github.com/dnb-org/dnb-hugo-social
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-templates"]
	path = dnb-hugo-templates
	url = https://github.com/dnb-org/dnb-hugo-templates
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-testcontent"]
	path = dnb-hugo-testcontent
	url = https://github.com/dnb-org/dnb-hugo-testcontent
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-workflows"]
	path = dnb-hugo-workflows
	url = https://github.com/dnb-org/dnb-hugo-workflows
  ignore = dirty
  shallow = true
[submodule "dnb-hugo-bin"]
	path = dnb-hugo-bin
	url = https://github.com/dnb-org/dnb-hugo-bin
  ignore = dirty
  shallow = true
